.container {
  width: 100%;
  height: 100%;
  background-color: #f5f9fc;
  color: #000;
  display: flex;
  justify-content: center;
}

.main {
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  background-color: #fff;
}

.options {
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 0 0.75rem;
  display: flex;
  flex-direction: column;
}

.lists {
  display: flex;
  justify-content: space-between;
}

.toggle {
  display: flex;
  align-items: center;
  align-self: center;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.75rem;
  padding: 0 0.75rem;
}

.title {
  color: #79828c;
}

.description {
  color: #b9c0c6;
}

.button {
  background-color: #609da1;
  border: none;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 10px;
  cursor: pointer;
}

/* .code {
  background: #fafafa;
  color: grey;
  border-radius: 5px;
  padding: 20px;
  font: small Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
} */
